@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --Verydarkdesaturatedblue: hsl(238, 29%, 16%);
  --Softred: hsl(14, 88%, 65%);

  --Softviolet: hsl(273, 75%, 66%);
  --Softblue: hsl(240, 73%, 65%);

  --Verydarkgrayishblue: hsl(237, 12%, 33%);
  --Darkgrayishblue: hsl(240, 6%, 50%);

  --Lightgrayishblue: hsl(240, 5%, 91%);
}
* {
  box-sizing: border-box;
}
body {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  margin: 120px;
  padding: 0;
  background-image: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  background-repeat: no-repeat;
}
.container {
  display: flex;
  width: 900px;
  height: 500px;
  background-color: white;

  margin: 0 auto;
  border-radius: 25px;
  overflow: hidden;
}
.left-side {
  width: 50%;
  background: url(images/bg-pattern-desktop.svg);
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
  border-radius: 25px 0 0 25px;
  overflow: hidden;

  border: none;
}
.box {
  position: absolute;
  top: 325px;
  left: 200px;
  z-index: 1;
  width: 150px;
  height: 150px;
}
.women {
  position: relative;
  left: -70px;
  top: 80px;
}

.right-side {
  width: 50%;
  padding-left: 50px;
  padding-top: 80px;
  border: none;
}

details {
  padding: 10px 10px;
  border: none;
  width: 80%;
  border-bottom: 2px solid #49494b;
}
details summary {
  cursor: pointer;
  color: hsl(238, 29%, 16%);
  outline: none;
}
details summary:hover {
  color: #f47c57;
}
details summary::-webkit-details-marker {
  display: none;
}
details summary:after {
  content: "";
  background: url(images/icon-arrow-down.svg) no-repeat;
  background-size: contain;
  float: right;
  width: 10px;
  height: 10px;
}
details p {
  padding-top: 5px;
  line-height: 20px;
  color: #787887;
}
details[open] summary {
  font-weight: bold;
}
details[open] summary:hover {
  color: #1d1e35;
}
details[open] summary:after {
  background: url(images/icon-arrow-down.svg) no-repeat;
  background-size: contain;
  transform: rotate(180deg);
}

.attribution {
  margin: 20px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 400px) {
  body {
    font-size: 12px;
    font-family: "Kumbh Sans", sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    background-image: linear-gradient(
      to bottom,
      hsl(273, 75%, 66%),
      hsl(240, 73%, 65%)
    );
    background-repeat: no-repeat;
  }

  .container {
    display: flex;
    width: 300px;
    height: 500px;
    background-color: white;
    flex-direction: column;
    margin-top: 120px;
    border-radius: 25px;
    overflow: hidden;
  }
  .left-side {
    width: 100%;
    height: 100px;
    background: url(images/bg-pattern-mobile.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 25px 0 0 25px;

    border: none;
  }
  .women {
    position: absolute;
    top: 0;
    left: 70px;
    height: 200px;
    width: 200px;
    transform: rotateX(30deg);
  }
  .box {
    position: absolute;
    top: 80px;
    left: 70px;
    width: 80px;
    height: 80px;
    z-index: 1;
  }
  .right-side {
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 10px 10px;
    text-align: center;
    border: none;
    padding-left: 20px;
  }

  details {
    padding: 20px 0px;

    border: none;
    width: 90%;
    border-bottom: 1px solid #49494b;
  }
  details summary {
    cursor: pointer;
    color: hsl(238, 29%, 16%);
    outline: none;
  }
  details summary:hover {
    color: #f47c57;
  }
  details summary::-webkit-details-marker {
    display: none;
  }
  details summary:after {
    content: "";
    background: url(images/icon-arrow-down.svg) no-repeat;
    background-size: contain;
    float: right;
    width: 10px;
    height: 10px;
  }
  details p {
    padding-top: 10px;
    line-height: 20px;
    color: #787887;
  }
  details[open] summary {
    font-weight: bold;
  }
  details[open] summary:hover {
    color: #1d1e35;
  }
  details[open] summary:after {
    background: url(images/icon-arrow-down.svg) no-repeat;
    background-size: contain;
    transform: rotate(180deg);
  }

  .attribution {
    margin: 20px;
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
